/* MEDIA QUERI */



@media only screen and (max-width: 600px){
    .ejemplo{
        background-color: aquamarine;
        color: blue;
    }
}
@media only screen and (max-width:400px){
    .ejemplo{
        background-color: blueviolet;
        color: aqua;
    }
}
@media only screen and (min-width: 800px){
    .ejemplo{
        background-color: chocolate;
    }
}



/*    viendo el tema flexbox */

*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.padre{
    width: 80%;
    height: 500px auto;
    margin: 50px auto;
    background-color: lightblue;    
    border: 2px solid blue;
    display: flex;
    /*flex-direction: row;   va por defecto  */
    /*flex-wrap: wrap;   es para controlar el desborde de los costados */
    flex-flow: row wrap;/* atajo para poner flex row y wrap */
    justify-content: space-evenly;  /* se alinea centra los contenedores horizontal */
    align-content: stretch;
}
.hijo{
    background-color: blue;
    border: 2px dashed white;
    width: 200px;
    height: 100px;
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
}
/*  los hijos tambien tiene sus propiedades */
.hijo{
    background-color: blue;
    border: 2px dashed white;
    width: 200px;
    height: 100px;
    color: white;
    margin: 20px;
    padding: 20px;
    font-size: 40px;
    flex-grow: 1;
    flex-shrink: 1;  /* los contenedores se achican y se ajustan automaticamente*/
    order: 0;
}