p::first-letter{
    color: cadetblue;
    font-size: 25px;
}
p::before{content:"😋" ;}
p::after{content:"🤪";}

p::selection{
    background-color: blue;
    color: chartreuse;
}
h1::selection{
    background-color: blue;
    color: chartreuse;
}
h2::selection{
    background-color: blue;
    color: chartreuse;
}

/* HACIENDO QUE LOS BOTONES DE LIN CAMBIEN DE COLOR */

/*a:link{
    color: blueviolet;
    border: 2px coral;
    background-color: lightgreen;
}  */
a:active{
    color:aqua;
    border: rgb(68, 218, 245);
    background-color: rgb(25, 7, 194);
}
a:hover{
    color: green;
    border: 3px color(gre red rgb(15, 134, 15) blue);  
    background-color: rgb(74, 240, 218);
}